@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: url(img/garden.jpg);
    background-position: center center;
    background-size:cover; 
    background-repeat: no-repeat;
    color: black;
    font-family: "Raleway", Helvetica, sans-serif;
    text-align:center;

}
#div1 {width:70px;height:300px;padding:10px;}
#drag1{ margin-left:3%; 
        margin-top: 45%;
        transform: rotate(37deg);
        position: absolute; 
}
#drag2{ margin-left:-58%; 
        margin-top: 37%;
        transform: rotate(67deg);
        position: absolute; 
}
#drag3{ margin-left:-39%;
        margin-top: 49%;
        position: absolute; 
}
#drag4{ margin-left:-20%;
        margin-top: 30%;
        position: absolute; 
}
#drag5{ margin-left:-22%;
        margin-top: 30%;
        transform: rotate(27deg);
        position: absolute; 
}  
#drag6{ margin-left:19%; 
        margin-top: 26%;
        transform: rotate(-7deg);
        position: absolute; 
}

#dragframe{width: 100%; height: 100%; 
}
.fb-like{
  /*float: right;*/
  position: fixed;
  z-index: 97;
  float: left;
  padding: 1em 1em 1em 1em;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(img/01.gif) center no-repeat #fff;
}
/*bs*/
#trashcan{
  width: 100%;
  margin-top: 28em;
}
.dropzone {
  /*background-color: #ccc;*/
  /*padding: 10px;*/
  width: 15%;
  z-index: 99;
  bottom: 2em;
  left: 2em;
}
.drop-active {
  border-color: #aaa;
  /*border-style: solid;*/
}
.drop-target {
  border-color: #fff;
  /*border-style: solid;*/
}
.drag-drop {
  display: inline-block;
  min-width: 40px;
  /*padding: 2em 0.5em;*/
  /*color: #fff;*/
  /*background-color: #29e;*/
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
#startscherm{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    margin-top:15%;
    margin-left: 25%;
    margin-right: 30%;
    width: 50%;
    z-index:99;
    font-size: 0.9em;
}
#arrow{
  margin-top: 27%;
  float: left;
  margin-left: 20%;
}
#backgroudStartscherm{
  width: 100%;
  height: 100%;
  /*background: blue;   */
  z-index:98;
  position: absolute;
}
#eindscherm{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    margin: 17% 15%; 
    width: 70%;
    display: none;
    text-align: center;
    font-size: 0.8em;
}
#startButton{
    padding:1em 4.4em 1em 1.3em;
    background-color: white;
    border: 1px solid black;
    width: 10%;
    text-align: center;
    margin: 2% 43%;  
    color: black;  
    font-family:sans-serif;
    cursor: pointer;
}

#startButton:hover{
    padding:1em 3em 1em 1.3em;
    background-color: black;
    border: 1px solid white;
    width: 10%;
    text-align: center;
    margin: 2% 43%;  
    color: white;  
    font-family:sans-serif;
    transition: 1s;
    cursor: pointer;
}

.stichtingbutton {
    padding: 1em 1em 1em 1em;
    background-color: white;
    border: 1px solid black;
}

.stichtingbutton:hover {
    padding: 1em 1em 1em 1em;
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: 1s;
}


#score{
  display: inline-block;
  font-weight: 900;
}
#time{
  display: inline-block;
  float:left;
}
